/* Title: Just Tables */
/* Author: Jocelyn Richard http://jocelynrichard.com/ */
/* Description: heavily inspired from http://crateofpenguins.com/blog/2013-6-image-reference-pane-with-css-in-marked */

/* AJOUTER LES STYLES POUR TOC */

body {
	font-size: 0;
	font-family: "Hoefler Text", Garamond, Baskerville, "Baskerville Old Face", "Times New Roman", serif;
	color: #444;
	margin: 0;
	padding-bottom: 32px;
	overflow-x: hidden;
}

img,
ul {
	display: none;
}

table {
	font-size: 14px;
	line-height: 1.5;
	border-collapse: collapse;
	border: 1px solid rgba(220,220,220,1);
	float: none;
	margin: 32px 32px 0 32px;
}

th {
	background-color: rgba(0,0,0,0.05);
	color: black;
	border: 1px solid rgba(180,180,180,1)
}

th,
td {
	padding: 0.25rem 0.75rem;
	max-width: 300px;
}

td {
	border: 1px solid rgba(220,220,220,1);
}

tbody tr:nth-child(even) {
	background-color: rgba(0,0,0,0.02);
}

code {
	color: #2db32d;
}