/* Title: Just Tables */
/* Author: Jocelyn Richard http://jocelynrichard.com/ */
/* Description: Displays only images and their captions. Heavily inspired from http://crateofpenguins.com/blog/2013-6-image-reference-pane-with-css-in-marked */

/* ------------------------------------------------- */
/* Reset */
/* ------------------------------------------------- */

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, img {margin: 0; padding: 0; border: 0;}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {display: block;} /* Semantic tags definition for IE 6/7/8/9 and Firefox 3 */

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} /* Prevents iOS text size adjust after orientation change, without disabling user zoom */

/* ------------------------------------------------- */
/* General */
/* ------------------------------------------------- */

body {
	font-size: 0;
	font-family: 'Open Sans', sans-serif; 
	margin: 24px;
	background-color: white;
	color: #222;
}

#wrapper {
	margin-left: auto !important; /* Countering toc.css added by Marked */
	width: 100%;
}

img,
ol,
ul,
hr {
	display: none;
}

/* ------------------------------------------------- */
/* Tables */
/* ------------------------------------------------- */

table {
	font-size: 14px;
	margin-bottom: 24px;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

thead {
	border: 1px solid #4C4C4C 
}

th,
td {
	padding: 0.5rem 0.75rem;
}

th {
	background-color: #4C4C4C;
	border-bottom: 1px solid #4C4C4C;
	color: white;
	text-shadow: 0px -1px 0px black;
}

tr {
	border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

/* ------------------------------------------------- */
/* Misc */
/* ------------------------------------------------- */

table code {
	font-family: "Menlo", "Courier New", "Courier", monospace;
	font-size: 13px;
	color: #666;
	background-color: rgba(0,0,0,0.08);
	padding: 2px 4px;
	border-radius: 2px;
}