/* Title: New Modern */
/* Author: Jocelyn Richard http://jocelynrichard.com/ */
/* Description: Baseline style, meant to be used on its own or to serve as development basis. */

/* ================================================ */
/* 1. Reset */
/* 2. Base */
/* 3. Responsiveness */
/* 4. Print Styles */
/* ================================================ */

/* ================================================ */
/* 1. Reset */
/* ================================================ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0;} /* Edited from http://www.cssreset.com/scripts/eric-meyer-reset-css/ */

html {
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
} /* Prevents iOS text size adjust after orientation change, without disabling user zoom */

/* ================================================ */
/* 2. Base */
/* ================================================ */

.mkstyledtag {
	background-color: #fff !important;
	font-weight: 300;
	color: #999;
	border: 1px solid rgba(0,0,0,0.2);
}

html {
	font-size: 16px;
}

body {
	background-color: #fafafa;
	color: #222;
}

#wrapper {
	font-family: 'iA Writer Quattro V', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.6rem;
}

h1,
h2 {
    margin-top: 3.2rem;
}

h1 {
    font-size:   2.82rem;
    line-height: 4.2rem;
}

h2 {
    font-size:   1.99rem;
    line-height: 2.8rem;
}

h3 {
    font-size:   1.41rem;
    line-height: 2rem;
}

h4 {
    font-size:   1rem;
    line-height: 1.6rem;
}

h5, h6 {
	font-size:   0.8rem;
    line-height: 1.2rem;
    text-transform: uppercase;
}

h6 {
	margin-left: 1.6rem;
}

p,
ol,
ul,
blockquote {
    font-size:     1rem;
    line-height:   1.8rem;
    margin-bottom: 0.75rem;
    font-weight:   300;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-left: 1.6rem;
	margin-top:  1.6rem;
}

/*
ul {
  list-style: none;
  list-style-position: outside;
}

li::before {
  content: "—";
  padding-right: 0.5rem;
}
*/

blockquote {
	margin: 0 0 1.6rem 2rem;
	padding-left: 1rem;
	border-left: 4px solid rgba(0,0,0,0.08);
	font-style: normal;
	color: #666;
}

blockquote ul {
	margin-left: 0.8rem; /* Pour ne pas que les hanging bullets mordent sur le blockquote  */
}

ol li blockquote, /* So that blockquote work in lists */
ul li blockquote {
	margin-left: 0;
}

#wrapper a:link {
	text-decoration: none;
	color: #2363D3; /* #165bd4 */ /* #525d70 */
	border-bottom: 4px solid rgba(0,0,0,0.08);
	font-weight: 800;
}

a:visited {
	color: #7697cf;
	border-bottom: 1px solid #ccc;
}

#wrapper a:hover {
	color: #004ED6;
	padding-bottom: 1px;
	border-bottom: 2px solid #004ED6;
}

a:active {
	background-color: #e6e6e6;
}

table {
	font-size: 0.85rem;
	margin: 0 0 1.6rem 0;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

th,
td {
	padding: 0.5rem 0.75rem;
	max-width: 20rem; /* Avoid dropping lines for nothing without having ridiculously wide tables */
}

th {
	border-bottom: 2px solid #222;
}

tr {
	border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

table code {
	font-size: 85%;
}

img {
	max-width: 100%
}

caption,
figcaption {
	font-size:   0.85rem;
    line-height: 1.6rem;
	margin: 0 1.6rem;
	text-align: left;
}

figcaption {
	margin-bottom: 1.6rem;
}

h1, /* White-space mentions in order to force wrapping */
h2,
a:link,
pre {
	white-space:      pre;      /* CSS 2.0 */
	white-space:      pre-wrap; /* CSS 2.1 */
	white-space:      pre-line; /* CSS 3.0 */
	white-space:     -pre-wrap; /* Opera 4-6 */
	white-space:   -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space:  -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

code {
	font-family: "Menlo", "Courier New", "Courier", monospace;
	font-size: 85%;
	color: #666;
	background-color: rgba(0,0,0,0.08);
	padding: 2px 4px;
	border-radius: 2px;
}

pre {
	background-color: rgba(0,0,0,0.08);
	border-radius: 8px;
	padding: 0.4rem;
	margin-bottom: 1.6rem;
}

pre code { /* Counter the code mentions */
	background-color: transparent;
	padding: 0;
}

sup,
sub,
a.footnote { /* Keep line-height from being affected by sub, cf https://gist.github.com/unruthless/413930 */
   font-size: 75%;
   height: 0;
   line-height: 1;
   position: relative;
}

sup,
a.footnote {
    vertical-align:super;
}

sub {
    vertical-align: sub;
}

dt {
	font-weight: 600;
}

dd {
	font-size: 1rem;
	line-height: 1.6rem;
	margin-bottom: 1.6rem;
}

hr {
	clear: none;
	height: 0.2rem;
	border: none;
	margin: 0 auto 1.4rem auto; /* 2.4rem auto 2.2rem auto; */
	width: 100%;
	color: #ccc;
	background-color: #ccc;
}

::selection {
	background-color: #f8dc77;
}

::-moz-selection {
	background-color: #f8dc77;
}

a:focus {
	outline: none;
	box-shadow: 0 0 0 4px #FFC800;
	border-radius: 1px;
	padding: 2px;
}

a {
	   -moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}
 
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	   -moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

/* ================================================ */
/* 3. Responsiveness */
/* ================================================ */

@media only screen and (min-width: 641px) {
	
}

@media only screen and (min-width: 1441px) {

	html {
		font-size: 22px;
	}

}