/*
This document has been created with Marked.app <https://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: UXASF1
Author: Jocelyn Richard
URL: https://jocelynrichard.com/
Description: Run-of-the-mill sans-serif style, with big text baseline and even bigger titles. Used to render UXA documents.
Fonts: Inter, iA Writer Mono S
Notes:
	- H1/H2 have tight leading, with significant top-padding
	- H3 and below are extremely rare in UXA content, so they are barely styled here. Arbitrarily shorter bottom-padding to account for Inter's short descenders, and have visually similar top and bottom padding
	- Headings follow an augmented fourth scale; H1 being touched-up to reasonably fit in viewports
	- 
	- spacing logic 
	- Colors are exclusively from the UXA style guide
---
*/

/* ------------------------------ */
/* 1. Reset */
/* ------------------------------ */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, em, strong, a, blockquote, pre, code,
dl, dt, dd, ol, ul, li, supo, sub,
img, figure, figcaption, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* ------------------------------ */
/* 2. Baseline */
/* ------------------------------ */

html {
	font-size: 16px;
}

body {
	background-color: #F8F8F8;
	color: #232323;
}

#wrapper {
	font-family: 'Inter', sans-serif;
}

h1 {
	font-size: 5rem;
    line-height: 1.05;
	margin-bottom: 1.5rem;
	margin-top: 3rem;
	font-weight: 900;
}

h2 {
    font-size: 1.99rem;
    line-height: 1.05;
	margin-bottom: 1.5rem;
	margin-top: 3rem;
	font-weight: 800;
}

h3 {
    font-size: 1.41rem;
    line-height: 1.2;
    margin: 1.5rem 0 1.25rem 0;
}

h4 {
    font-size: 1rem;
    line-height: 1.2;
    margin: 1.5rem 0 1.25rem 0;
}


h5 {
	font-size: 0.7rem;
    line-height: 1.75;
    text-transform: uppercase;
    margin: 1.5rem 0 1.25rem 0;
}

h6 {
	font-size: 0.7rem;
    line-height: 1.75;
    text-transform: uppercase;
    margin: 1.5rem 0 1.25rem 1.5rem;
}

p,
dl,
#wrapper ol,
#wrapper ul {
    font-size: 1rem;
    line-height: 1.75;
    margin: 0.75rem 0;
    font-weight: 400;
}

dt {
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 600;
}

dd {
    font-size: 1rem;
    line-height: 1.75;
    margin: 0 0 0.75rem 0;
    font-weight: 400;
}

#wrapper ul {
	list-style: none;
	list-style-position: outside;
/* 	padding-left: 1.2rem; */
}

#wrapper ul > li {
	text-indent: -1rem;
}

#wrapper ul > li::before {
	content: "–";
	padding-right: 0.5rem;
}

#wrapper ul ul,
#wrapper ul ol,
#wrapper ol ul,
#wrapper ol ol {
	margin: 0 0 0 2rem;
}

#wrapper a:link {
	text-decoration: none;
	color: #0117E6;
	border-bottom: 4px solid #EEEEEE; /* Gris 0134 @ 50%, beeuh */
	font-weight: 600;
}

#wrapper a:visited {
	color: #232323;
	border-bottom: 4px solid #EEEEEE;
}

#wrapper a:hover {
	color: #0117E6;
	padding-bottom: 1px;
	border-bottom: 2px solid #0117E6;
}

#wrapper a:active {
	background-color: #EEEEEE;
}

blockquote { /* Bricolage */
	margin: 0 0 0 2rem;
	padding-left: 1rem;
	border-left: 4px solid #EEEEEE;
	font-style: normal;
	color: #797979;
}

table {
	font-family: 'iA Writer Mono S', monospace;
	font-size: 0.85rem;
	margin: 0 0 1.6rem 0;
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid #232323;	
}

th,
td {
	padding: 0.5rem;
}

caption,
figcaption,
.footnotes { /* +footnotes ul li weird spacing */
	font-size: 0.85rem;
	font-family: 'Inter', sans-serif;
    line-height: 1.6rem;
	margin: 0;
	text-align: left;
	color: #797979;
}

code {
	font-family: 'iA Writer Mono S', monospace;
	color: #797979;
	background-color: #EEEEEE;
	padding: 2px 4px;
	border-radius: 0;
}

pre {
	background-color: #EEEEEE;
	border-radius: 0;
	padding: 0.5rem;
	margin-bottom: 0.75rem;
	border-radius: 0;
}

pre code {
		font-size: 0.85rem;
}

figure {
	padding: 0;
	margin: 0;
}

img {
	margin: 0;
	padding: 0;
	max-width: 100%;
}

sup { /* Good practices from https://gist.github.com/unruthless/413930 */
}

#wrapper a.footnote {
    color: #797979;
    border: 0;
    font-weight: 600;
    padding-left: 0.125rem;
	font-size: 75%;
	height: 0; /* Hmmm */
	line-height: 0; /* Hmmm */
	position: relative;
	vertical-align: super;
}

#wrapper a:hover.footnote {
    color: #0117E6;
}

hr {
	clear: none;
	height: 4px;
	border: none;
	margin: 3rem auto 1rem auto;
	width: 100%;
	color: #EEEEEE;
	background-color: #EEEEEE;
}

/* ================================================ */
/* 2. Utilities */
/* ================================================ */

h1, /* White-space mentions in order to force wrapping */
h2,
a:link,
pre {
	white-space:      pre;      /* CSS 2.0 */
	white-space:      pre-wrap; /* CSS 2.1 */
	white-space:      pre-line; /* CSS 3.0 */
	white-space:     -pre-wrap; /* Opera 4-6 */
	white-space:   -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space:  -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

::selection {
	background-color: hsla(25, 100%, 51%, 0.1); /* #FF6C03 */	
	color: #FF6C03;
}

::-moz-selection {
	background-color: hsla(25, 100%, 51%, 0.1); /* #FF6C03 */	
	color: #FF6C03;
}

a:focus {
	outline: none;
	box-shadow: 0 0 0 4px #FFC800;
	border-radius: 1px;
	padding: 2px;
}

a {
	   -moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	   -moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

/* ================================================ */
/* 3. Responsiveness */
/* ================================================ */

@media only screen and (min-width: 961px) {
	
	html {
		font-size: 20px;
	}
	
}

/* ================================================ */
/* 3. Print */
/* ================================================ */

/* DOM objects font-size need be set independently  */

@media print {
	
	#wrapper ul,
	#wrapper ol {
		margin: 0; /* No idea what's going but they don't show up when printing otherwise */
/*
			text-indent: 0;
			padding-right: 0;
*/
	}

}