/*
This document has been created with Marked.app <https://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: UXASF1
Author: Jocelyn Richard
URL: https://jocelynrichard.com/
Description: Fairly standard sans-serif style, with big text baseline and even bigger titles. Used to render UXA documents.
Fonts: Inter
Note: body style + ancillaries style; headings scale, etc
---
*/

/* ================================================ */
/* Baseline */
/* ================================================ */

html {
	font-size: 16px;
}

body {
	background-color: #F8F8F8;
	color: #232323;
}

#wrapper {
	font-family: 'Inter', sans-serif;
}

h1 {
	font-size:   5rem;
    line-height: 1.05;
	margin-bottom: 1.6rem;
	margin-top: 3.2rem;
	font-weight: 900;
}

h2 {
    font-size:   1.99rem;
    line-height: 2.8rem;
	margin-bottom: 1.6rem;
	margin-top: 3.2rem;
	font-weight: 800;
}

h3 {
    font-size:   1.41rem;
    line-height: 2rem;
    margin-bottom: 1.6rem;
}

h4 {
    font-size:   1rem;
    line-height: 1.6rem;
    margin-bottom: 1.6rem;
}


h5 {
	font-size:   0.8rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}


h6 {
	font-size:   0.8rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
	margin-left: 1.6rem;
}

p {
    font-size:     1rem;
    line-height:   1.8rem;
    margin-bottom: 0.75rem;
    font-weight:   400;	
}

ol,
ul {
    font-size:     1rem;
    line-height:   1.8rem;
    margin-bottom: 0.75rem;
    font-weight:   400;
}

/*
ol,
ul,
blockquote {
    font-size:     1rem;
    line-height:   1.8rem;
    margin-bottom: 0.75rem;
    font-weight:   400;
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-left: 1.6rem;
	margin-top:  1.6rem;
}
*/

#wrapper ul {
	list-style: none;
	list-style-position: outside;
	margin: 0; /* No idea what's going but they don't show up when printing otherwise */
	padding-left: 1.2rem;
}

#wrapper ul li {
	text-indent: -1rem;
}

#wrapper ul li::before {
	content: "–";
	padding-right: 0.5rem;
}

#wrapper a:link {
	text-decoration: none;
	color: #0117E6;
	border-bottom: 4px solid rgba(0,0,0,0.08);
	font-weight: 600;
}

#wrapper a:visited {
	color: #232323;
	border-bottom: 4px solid rgba(0,0,0,0.08);
}

#wrapper a:hover {
	color: #0117E6;
	padding-bottom: 1px;
	border-bottom: 2px solid #0117E6;
}

#wrapper a:active {
	background-color: #e6e6e6;
}

blockquote { /* Bricolage */
	margin: 0 0 1.6rem 2rem;
	padding-left: 1rem;
	border-left: 4px solid rgba(0,0,0,0.08);
	font-style: normal;
	color: #8c8c8c;
}

hr { /* Bricolage */
	clear: none;
	height: 4px;
	border: none;
	margin: 3rem auto 1rem auto;
	width: 100%;
	color: rgba(0,0,0,0.08);
	background-color: rgba(0,0,0,0.08);
}

table {
	font-family: 'iA Writer Mono S', monospace;
	font-size: 0.85rem;
	margin: 0 0 1.6rem 0;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #232323;	
}

th,
td {
	padding: 0.5rem 0.75rem;
}

caption,
figcaption { /* +footnotes */
	font-size: 0.75rem;
	font-family: 'Inter', sans-serif;
    line-height: 1.6rem;
	margin: 0;
	text-align: left;
	color: #797979;
}

code {
	font-family: 'iA Writer Mono S', monospace;
	font-size: 85%;
	color: #666;
	background-color: rgba(0,0,0,0.08);
	padding: 2px 4px;
	border-radius: 2px;
}

pre {
	background-color: rgba(0,0,0,0.08);
	border-radius: 8px;
	padding: 0.4rem;
	margin-bottom: 1.6rem;
}

pre code { /* Counter the code mentions */
	background-color: transparent;
	padding: 0;
}

figure {
	padding: 0;
	margin: 0;
}

img {
	margin: 0;
	padding: 0;
	max-width: 100%;
}



/* ================================================ */
/* 2. Utilities */
/* ================================================ */

h1, /* White-space mentions in order to force wrapping */
h2,
a:link,
pre {
	white-space:      pre;      /* CSS 2.0 */
	white-space:      pre-wrap; /* CSS 2.1 */
	white-space:      pre-line; /* CSS 3.0 */
	white-space:     -pre-wrap; /* Opera 4-6 */
	white-space:   -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space:  -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}

::selection {
	background-color: hsla(25, 100%, 51%, 0.1); /* #FF6C03 */	
	color: #FF6C03;
}

::-moz-selection {
	background-color: hsla(25, 100%, 51%, 0.1); /* #FF6C03 */	
	color: #FF6C03;
}

a:focus {
	outline: none;
	box-shadow: 0 0 0 4px #FFC800;
	border-radius: 1px;
	padding: 2px;
}

a {
	   -moz-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	   -moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

/* ================================================ */
/* 3. Responsiveness */
/* ================================================ */

@media only screen and (min-width: 961px) {
	
	html {
		font-size: 20px;
	}
	
}

/* ================================================ */
/* 3. Print */
/* ================================================ */

/* DOM objects font-size need be set independently  */

@media print {
	
}
