/*
This document has been created with Marked.app <https://marked2app.com>
Content is property of the document author
Please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
Title: UXASF1
Author: Jocelyn Richard
URL: https://jocelynrichard.com/
Description:
  - Sans-serif style, with big text baseline and even bigger titles; used to render [UXA documents](https://github.com/nWODT-Cobalt/uxa)
  - Dark mode support
  - Fonts: [Inter](https://rsms.me/inter/), [iA Writer Mono](https://github.com/iaolo/iA-Fonts/tree/master/iA%20Writer%20Mono))
Notes:
  - Headings follow an augmented fourth scale; H1 being touched-up to reasonably fit in narrower viewports
  - H1/H2 have tight leading, with significant top-padding
  - H3 and below are extremely rare in UXA content, so they are barely styled here. Arbitrarily smaller bottom-padding to account for Inter's short descenders, and have visually similar top and bottom padding
  - Colors from the UXA style guide
  - Print style optimized for PDF export, not paper printing
---
*/

/* ------------------------------ */
/* Reset */
/* ------------------------------ */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, em, strong, a, blockquote, pre, code, dl, dt, dd, sup, sub,
#wrapper ol, #wrapper ul, #wrapper li,
img, figure, figcaption, table, caption, tbody, tfoot, thead, tr, th, td, hr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* ------------------------------ */
/* Styles */
/* ------------------------------ */

html {
	font-size: 16px;
}

body {
	background-color: #F8F8F8;
	color: #232323;
}

#wrapper {
	font-family: 'Inter', sans-serif;
	padding-bottom: 9rem !important; /* Arbitrary */
}

h1 {
	font-size: 5rem;
	font-weight: 900;
	line-height: 1.05;
	margin: 3rem 0 1.5rem 0;
}

h2 {
	font-size: 1.99rem;
	font-weight: 800;
	line-height: 1.05;
	margin: 3rem 0 1.5rem 0;
}

h3 {
	font-size: 1.41rem;
	line-height: 1.2;
	margin: 1.5rem 0 1.25rem 0;
}

h4 {
	font-size: 1rem;
	line-height: 1.2;
	margin: 1.5rem 0 1.25rem 0;
}

h5 {
	font-size: 0.7rem;
	line-height: 1.75;
	text-transform: uppercase;
	margin: 1.5rem 0 1.25rem 0;
}

h6 {
	font-size: 0.7rem;
	line-height: 1.75;
	text-transform: uppercase;
	margin: 1.5rem 0 1.25rem 1.5rem;
}

p,
dl,
#wrapper ol,
#wrapper ul {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	margin: 0.75rem 0;
}

dt {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.75;
}

dd {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	margin: 0 0 0.75rem 0;
	text-indent: 1rem;
}

#wrapper ul {
	list-style: none;
	list-style-position: outside;
}

#wrapper ul > li {
	text-indent: -1rem;
}

#wrapper ul > li::before {
	content: "–";
	padding-right: 0.5rem;
}

#wrapper ol > li, /* pourkwaaaaaaa */
#wrapper ul p  { /* For complex lists whose li include a p when processed by Marked */
	text-indent: 0; 
}

#wrapper ul p:first-of-type,
#wrapper ol p:first-of-type { /* For complex lists whose li include a p when processed by Marked */
  display: inline;
}

#wrapper ul ul,
#wrapper ul ol,
#wrapper ol ul,
#wrapper ol ol {
	margin: 0 0 0 2rem;
}

#wrapper a:link {
	color: #0117E6;
	font-weight: 600;
	text-decoration: none;
	border-bottom: 4px solid hsla(0, 0%, 14%, 0.15); /* Noir 1571 Jais #232323 */
}

#wrapper a:hover {
	color: #0117E6;
	border-bottom: 2px solid #0117E6;
	padding-bottom: 1px;
}

#wrapper a:active {
	background-color: hsla(0, 0%, 14%, 0.05); /* Noir 1571 Jais #232323 */
}

#wrapper a:visited {
	color: #232323;
	border-bottom: 4px solid hsla(0, 0%, 14%, 0.15); /* Noir 1571 Jais #232323 */
}

#wrapper a:focus {
	outline: none;
	box-shadow: 0 0 0 4px #FF6C03;
	border-radius: 1px;
	padding: 2px;
}

blockquote {
	font-style: normal;
	color: hsla(0, 0%, 14%, 0.7); /* Noir 1571 Jais #232323 */
	margin: 1rem 0 1rem 2rem; /* 1rem vertical margin to account for the border's visual hoverang */
	padding-left: 1rem;
	border-left: 4px solid hsla(0, 0%, 14%, 0.15); /* Noir 1571 Jais #232323 */
}

code {
	font-family: 'iA Writer Mono V', monospace;
	font-size: 90%;
	background-color: hsla(0, 0%, 14%, 0.05); /* Noir 1571 Jais #232323 */
	color: hsla(0, 0%, 14%, 0.7); /* Noir 1571 Jais #232323 */
	border-radius: 0;
	padding: 2px 4px;
}

pre {
	background-color: hsla(0, 0%, 14%, 0.05); /* Noir 1571 Jais #232323 */
	border-radius: 0;
	margin-bottom: 0.75rem;
	padding: 0.5rem;
}

pre code {
	background-color: transparent;
	padding: 0;
}

img {
	height: auto;
	max-width: 100%;
	border: 1px solid #232323; /* only when printing? */
	box-sizing: border-box;
}

figure {
	margin: 1rem 0;
}

table {
	font-family: 'iA Writer Mono V', monospace;
	font-size: 0.85rem;
	margin: 0 0 1.5rem 0;
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 1px solid #232323;
}

th,
td {
	padding: 0.5rem;
}

caption,
figcaption,
#wrapper .footnotes ol li,
#wrapper .footnotes p {
	font-family: 'Inter', sans-serif;
	font-size: 0.85rem;
	line-height: 1.5rem;
	text-align: left;
	color: hsla(0, 0%, 14%, 0.7); /* Noir 1571 Jais #232323 */
	margin: 0;
}

#wrapper a.footnote {
	font-size: 0.75rem;
	font-weight: 600;
	line-height: 0;
	color: hsla(0, 0%, 14%, 0.7); /* Noir 1571 Jais #232323 */;
	border: 0;
	height: 0;
	padding-left: 0.125rem;
	position: relative;
	vertical-align: super;
}

#wrapper a:hover.footnote {
	color: #0117E6;
}

#wrapper a:link.reversefootnote,
#wrapper a:visited.reversefootnote  {
	border-bottom-width: 2px;
}

hr {
	width: 10rem;
	border-top: 1px solid hsla(0, 0%, 14%, 1); /* Noir 1571 Jais #232323 */	
	margin: 3rem auto 3rem 0;
	clear: none;
}

::selection {
	color: #FF6C03;
	background-color: hsla(25, 100%, 51%, 0.1); /* Orange 0283 Brûlé #FF6C03 */
}

#firstdiff::before { /* Marked edit marker */
	color: #FF6C03 !important;
}

#wrapper .mkstyledtag { /* Marked tags */
	background-color: hsla(0, 0%, 14%, 1); /* Noir 1571 Jais #232323 */
	color: #F8F8F8;
	border-radius: 999px;
	padding: 0.3rem 0.75rem !important;
}

h1,
h2,
a, /* :link ? */
pre,
pre code { /* From https://css-tricks.com/snippets/css/make-pre-text-wrap/ */
	white-space:      pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space:     -pre-wrap; /* Opera 4-6 */
	white-space:   -o-pre-wrap;	/* Opera 7 */
	word-wrap:      break-word; /* Internet Explorer 5.5+ */
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote { /* Transitioning p elements might cause duplication bugs when printing. Somehow can't be mitigated by print styles. */
	transition: all 0.2s ease;
}

a {
	transition: all 0.1s ease-in-out;
}

/* ------------------------------ */
/* Inverted */
/* ------------------------------ */

@media screen {

	.inverted,
	.inverted #wrapper {
		background-color: #232323;
		color: hsla(0, 0%, 97%, 1); /* Gris 0106 Béton Clair #F8F8F8 */
	}

	.inverted #wrapper a:link {
		border-color: hsla(0, 0%, 97%, 0.5); /* Gris 0106 Béton Clair #F8F8F8 */
		color: #C4F244;
	}

	.inverted #wrapper a:hover {
		border-color: #C4F244;
		color: #C4F244;
	}
	
	.inverted #wrapper a:active {
		background-color: hsla(0, 0%, 97%, 0.1); /* Gris 0106 Béton Clair #F8F8F8 */
	}
	
	.inverted #wrapper a:visited {
		border-color: hsla(0, 0%, 97%, 0.5); /* Gris 0106 Béton Clair #F8F8F8 */
		color: hsla(0, 0%, 97%, 1); /* Gris 0106 Béton Clair #F8F8F8 */
	}

	.inverted blockquote {
		border-color: hsla(0, 0%, 97%, 0.5); /* Gris 0106 Béton Clair #F8F8F8 */
		color: hsla(0, 0%, 97%, 0.6); /* Gris 0106 Béton Clair #F8F8F8 */
	}
	
	.inverted code {
		background-color: hsla(0, 0%, 97%, 0.1); /* Gris 0106 Béton Clair #F8F8F8 */
		color: hsla(0, 0%, 97%, 0.6); /* Gris 0106 Béton Clair #F8F8F8 */
	}
	
	.inverted pre {
		background-color: hsla(0, 0%, 97%, 0.1); /* Gris 0106 Béton Clair #F8F8F8 */
	}
	
	.inverted pre code {
		background-color: transparent;
	}

	.inverted table,
	.inverted th,
	.inverted td {
		border-color: hsla(0, 0%, 97%, 1); /* Gris 0106 Béton Clair #F8F8F8 */;	
	}

	.inverted caption,
	.inverted figcaption,
	.inverted #wrapper .footnotes ol li,
	.inverted #wrapper .footnotes p,
	.inverted #wrapper a.footnote {
		color: hsla(0, 0%, 97%, 0.6); /* Gris 0106 Béton Clair #F8F8F8 */
	}

	.inverted #wrapper a:hover.footnote {
		color: #C4F244;
	}

	.inverted hr {
		border-color: hsla(0, 0%, 97%, 1); /* Gris 0106 Béton Clair #F8F8F8 */;	
	}

	.inverted #wrapper .mkstyledtag { /* Marked tags */
		background-color: #F8F8F8;
		color: hsla(0, 0%, 14%, 1); /* Noir 1571 Jais #232323 */
	}

}

/* ------------------------------ */
/* Responsiveness */
/* ------------------------------ */

@media screen and (min-width: 961px) {
	
	html {
		font-size: 20px;
	}
	
}

/* ------------------------------ */
/* Print */
/* ------------------------------ */

@media print {
	
	#wrapper {
		padding-bottom: 0 !important;
	}

	#wrapper ul,
	#wrapper ol {
		margin-left: 0;
		list-style-position: inside;
	}

	#wrapper ul > li,
	#wrapper ol > li {
		text-indent: 0;
	}
	
	img,
	pre,
	blockquote,
	table,
	figure,
	p {
		page-break-inside: avoid;
	}

}